<!-- Estendemos do template base -->
{% extends "cadastro/_layouts/base.html" %}

<!-- Bloco que define o <title></title> da nossa página -->
{% block title %}Projeto - Tramitação{% endblock %}

{% load primeira_letra %}

<!-- Bloco de conteúdo da nossa página -->
{% block conteudo %}
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            Tramitações do Projeto
          </h5>

          {% if tramitacoes|length > 0 %}

           <p class="card-text">
              Aqui está a lista de <code>Tramitações</code> cadastradas do <b>Projeto {{ tramitacoes.0.projeto }}</b>.
            </p>

            <table class="table">
              <thead class="thead-dark">
              <tr>
                <th>Data Tramitação</th>
                <th>Comissão</th>
                <th>Data Atualização</th>
                <th>&nbsp;</th>
              </tr>
              </thead>

              <tbody>
              {% for tramitacao in tramitacoes %}
                <tr>
                  <td>{{ tramitacao.data_tramitacao|date:'d/m/Y H:i' }}</td>
                  <td>{{ tramitacao.comissao }}</td>
                  <td>{{ tramitacao.data_atualizacao|date:'d/m/Y H:i' }}</td>
                  <td>
                   <a href="{% url 'projeto_edita' pk=tramitacao.id %}"
                       class="btn btn-info">
                      Atualizar
                    </a>
                    <a href="{% url 'tramitacao_excluir' pk=tramitacao.id %}"
                      class="btn btn-outline-danger">
                        Excluir
                    </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
        {% else %}
          <div class="text-center mt-5 mb-5 jumbotron">
            <h5>Nenhuma <code>Tramitação</code> cadastrada ainda.</h5>
          </div>
        {% endif %}
          <hr />
          <div class="text-right">
            <a href="{% url 'projeto_insere' %}" class="btn btn-primary">Cadastrar Tramitação</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
