<!-- Estendemos do template base -->
{% extends "cadastro/_layouts/base.html" %}

<!-- Bloco que define o <title></title> da nossa página -->
{% block title %}Listagem de Comissões{% endblock %}

{% load primeira_letra %}

<!-- Bloco de conteúdo da nossa página -->
{% block conteudo %}
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lista de Comissões</h5>

          {% if comissoes|length > 0 %}
            <p class="card-text">
              Aqui está a lista de <code>Comissões</code> cadastradas.
            </p>

            <table class="table">
              <thead class="thead-dark">
              <tr>
                <th></th>
                <th>Descrição</th>
                <th>Status</th>
                <th>Data Atualização</th>
                <th>&nbsp;</th>
              </tr>
              </thead>

              <tbody>
              {% for comissao in comissoes %}
                <tr>
                  <td>{{ comissao.descricao|primeira_letra }}</td>
                  <td>{{ comissao.descricao }}</td>
                  <td>{{ comissao.Ativo }}</td>
                  <td>{{ comissao.data_atualizacao|date:'d/m/Y H:i' }}</td>
                  <td>
                    <a href="{% url 'comissao_edita' pk=comissao.id %}"
                       class="btn btn-info">
                      Atualizar
                    </a>
                    <a href="{% url 'comissao_excluir' pk=comissao.id %}"
                      class="btn btn-outline-danger">
                        Excluir
                    </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
        {% else %}
          <div class="text-center mt-5 mb-5 jumbotron">
            <h5>Nenhuma <code>Comissão</code> cadastrada ainda.</h5>
          </div>
        {% endif %}
          <hr />
          <div class="text-right">
            <a href="{% url 'comissao_insere' %}" class="btn btn-primary">Cadastrar Comissão</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
