<!-- Estendemos do template base -->
{% extends "cadastro/_layouts/base.html" %}

{% load widget_tweaks %}

<!-- Bloco que define o <title></title> da nossa página -->
{% block title %}INSERE COMISSÃO{% endblock %}

{% block conteudo %}

<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Insere Reunião</h5>
          <p class="card-text">
            Complete o formulário abaixo para cadastrar
            uma nova <code>Reunião</code> da Comissão.
          </p>
          <form method="post">
            <!-- Não se esqueça dessa tag -->
            {% csrf_token %}

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Comissão</span>
              </div>
              {% render_field form.comissao class+="form-control" %}
            </div>

      <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Ordem</span>
              </div>
              {% render_field form.ordem class+="form-control" %}
            </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Tipo de Reunião</span>
              </div>
              {% render_field form.tiporeuniao class+="form-control" %}
            </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Data da Reunião</span>
              </div>
              {% render_field form.data_reuniao class+="form-control" %}
            </div>
      </div>
      </div>

      <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Tem Edital Assinado</span>
              </div>
              {% render_field form.tem_edital_assinado class+="form-control" %}
            </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Data do Edital D.O.</span>
              </div>
              {% render_field form.data_edital_do class+="form-control" %}
            </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Tem Presença Assinada</span>
              </div>
              {% render_field form.tem_presenca_assinada class+="form-control" %}
            </div>
      </div>
      </div>

      <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Tem Ata Assinada</span>
              </div>
              {% render_field form.tem_ata_assinada class+="form-control" %}
            </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Data da ATA no D.O.</span>
              </div>
              {% render_field form.data_ata_do class+="form-control" %}
            </div>
      </div>
      </div>

      <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Tem Parecer</span>
              </div>
              {% render_field form.tem_parecer class+="form-control" %}
            </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Tem Parecer Assinado</span>
              </div>
              {% render_field form.tem_parecer_assinado class+="form-control" %}
            </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Data do Parecer no D.O.</span>
              </div>
              {% render_field form.data_parecer_do class+="form-control" %}
            </div>
      </div>
      </div>

      <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Tem Deliberação</span>
              </div>
              {% render_field form.tem_deliberacao class+="form-control" %}
            </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Tem Deliberação Assinada</span>
              </div>
              {% render_field form.tem_deliberacao_assinada class+="form-control" %}
            </div>
      </div>
      </div>

      <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Tem Conclusão</span>
              </div>
              {% render_field form.tem_conclusao class+="form-control" %}
            </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Tem Conclusão Assinada</span>
              </div>
              {% render_field form.tem_conclusao_assinada class+="form-control" %}
            </div>
      </div>
      </div>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Observação</span>
              </div>
              {% render_field form.observacao class+="form-control" %}
            </div>

      <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Concluído</span>
              </div>
              {% render_field form.concluido class+="form-control" %}
            </div>
      </div>

      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Data Atualização</span>
              </div>
              {% render_field form.data_atualizacao class+="form-control" %}
            </div>
      </div>
      </div>

            <button class="btn btn-primary">Enviar</button>

            <script language="JavaScript">
              var f = document.forms[0];
              var param = window.location.href.split('/');
              f.id_comissao.value = param[param.length-1];
            </script>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
