<!-- Estendemos do template base -->
{% extends "cadastro/_layouts/base.html" %}

<!-- Bloco que define o <title></title> da nossa página -->
{% block title %}Projeto{% endblock %}

{% load primeira_letra %}

<!-- Bloco de conteúdo da nossa página -->
{% block conteudo %}

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lista de Projetos</h5>

          {% if projetos|length > 0 %}
            <p class="card-text">
              Aqui está a lista de <code>Projetos</code> cadastrados.
            </p>

            <table class="table">
              <thead class="thead-dark">
              <tr>
                <th>Número</th>
                <th>Autor</th>
                <th>Ementa</th>
                <th>Data Atualização</th>
                <th>&nbsp;</th>
              </tr>
              </thead>

              <tbody>
              {% for projeto in projetos %}
                <tr>
                  <td>{{ projeto.numero }}/{{ projeto.ano }}</td>
                  <td>{{ projeto.autor }}</td>
                  <td>{{ projeto.ementa }}</td>
                  <td>{{ projeto.data_atualizacao|date:'d/m/Y H:i' }}</td>
                  <td>
                    <a href="{% url 'lista_tramitacoes' pk=projeto.id %}"
                       class="btn btn-primary">
                      Tramitação
                    </a>
                    <a href="{% url 'projeto_edita' pk=projeto.id %}"
                       class="btn btn-info">
                      Atualizar
                    </a>
                    <a href="{% url 'projeto_tramitacoes' pk=projeto.id %}"
                       class="btn btn-info">
                      Proj-Tramita
                    </a>
                    <a href="{% url 'projeto_excluir' pk=projeto.id %}"
                      class="btn btn-outline-danger">
                        Excluir
                    </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
        {% else %}
          <div class="text-center mt-5 mb-5 jumbotron">
            <h5>Nenhum <code>Projeto</code> cadastrado ainda.</h5>
          </div>
        {% endif %}
          <hr />
          <div class="text-right">
            <a href="{% url 'projeto_insere' %}" class="btn btn-primary">Cadastrar Projeto</a>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
