<!-- Estendemos do template base -->
{% extends "cadastro/_layouts/base.html" %}

<!-- Bloco que define o <title></title> da nossa página -->
{% block title %}Listagem de Reuniões{% endblock %}

{% load primeira_letra %}

<!-- Bloco de conteúdo da nossa página -->
{% block conteudo %}

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lista de Reuniões</h5>

          {% if controlereunioes|length > 0 %}
            <p class="card-text">
              Aqui está a lista de <code>Reuniões da Comissão de {{ controlereunioes.0.comissao }}</code> cadastradas.
            </p>

            <table class="table">
              <thead class="thead-dark">
              <tr>
                <th>Nº</th>
                <th>Tipo</th>
                <th>Data Reunião</th>
                <th>Tem Edital Assinado</th>
                <th>Data Edital D.O.</th>
                <th>Tem Presença Assinada</th>
                <th>Tem Ata Assinada</th>
                <th>Data Ata D.O.</th>
                <th>Tem Parecer</th>
                <th>Tem Parecer Assinado</th>
                <th>Data Parecer D.O.</th>
                <th>Tem Deliberação</th>
                <th>Tem Deliberação Assinada</th>
                <th>Tem Conclusão</th>
                <th>Tem Conclusão Assinada</th>
                <th>Observação</th>
                <th>Concluído</th>
                <th>Data Atualização</th>
                <th>&nbsp;</th>
              </tr>
              </thead>

              <tbody>
              {% for reuniao in controlereunioes %}
                <tr>
                  <td>{{ reuniao.ordem }}</td>
                  <td>{{ reuniao.tipo_reuniao }}</td>
                  <td>{{ reuniao.data_reuniao }}</td>
                  <td>{{ reuniao.tem_edital_assinado }}</td>
                  <td>{{ reuniao.data_edital_do }}</td>
                  <td>{{ reuniao.tem_presenca_assinada }}</td>
                  <td>{{ reuniao.tem_ata_assinada }}</td>
                  <td>{{ reuniao.data_ata_do }}</td>
                  <td>{{ reuniao.tem_parecer }}</td>
                  <td>{{ reuniao.tem_parecer_assinado }}</td>
                  <td>{{ reuniao.data_parecer_do }}</td>
                  <td>{{ reuniao.tem_deliberacao }}</td>
                  <td>{{ reuniao.tem_deliberacao_assinada }}</td>
                  <td>{{ reuniao.tem_conclusao }}</td>
                  <td>{{ reuniao.tem_conclusao_assinada }}</td>
                  <td>{{ reuniao.observacao }}</td>
                  <td>{{ reuniao.concluido }}</td>
                  <td>{{ comissao.data_atualizacao|date:'d/m/Y H:i' }}</td>
                  <td>
                    <a href="{% url 'comissao_edita' pk=comissao.id %}"
                       class="btn btn-info">
                      Atualizar
                    </a>
                    <a href="{% url 'comissao_excluir' pk=comissao.id %}"
                      class="btn btn-outline-danger">
                        Excluir
                    </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
        {% else %}
          <div class="text-center mt-5 mb-5 jumbotron">
            <h5>Nenhuma <code>Reunião desta Comissão {{ controlereunioes.0.comissao }}</code> foi cadastrada ainda.</h5>
          </div>
        {% endif %}
          <hr />
          <div class="text-right">
            <a href="{% url 'controlereuniao_insere' pk=1 %}" class="btn btn-primary">Cadastrar Reunião</a>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
